body {
    font-family: 'Nunito Sans', sans-serif;
}

header {
    border-bottom: 1px solid #DEDEDE;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-item {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-basis: 68.5%;
}

.header-logo {
    display: block;
    width: 176px;
    height: 56px;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.header-nav {
    list-style: none;
    display: flex;
    gap: 46px;
    margin-bottom: 13px;
    margin-top: 19px;
}

.header-nav a {
    color: #443737;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    transition: 0.3s;
}

.header-nav a:hover {
    color: #FFC725;
}

.header-nav a::after {
    content: '';
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: transparent;
    display: block;
    position: relative;
    bottom: 2px;
}

.header-nav a.active::after {
    background-color: #FFC725;
}

.button {
    display: flex;
    align-items: center;
    gap: 7px;
    background-color: transparent;
    padding: 0;
    padding-top: 2px;
    border: none;
    cursor: pointer;
}

.button-text {
    color:#443737;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
}

.button-item {
    position: relative;
}

.button-count {
    font-weight: 700;
    font-size: 13px;
    color: #FFFFFF;
    line-height: 1.35;
    text-align: center;
    width: 17px;
    height: 17px;
    background-color:#F37335;
    border-radius: 100%;
    position: absolute;
    bottom: 3px;
    right: -4px;
}

.bg {
    text-align: center;
    color: #FFFFFF;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center center;
    padding-top: 134px;
    padding-bottom: 140px;
    margin-bottom: 140px;
}

.breadcrumbs {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 8px;
    padding-left: 0;
}

.breadcrumbs a {
    font-family: 'Open Sans', sans-serif;
    color: #DEDEDE;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.breadcrumbs a:hover {
    color:#FFC725;
}

.breadcrumbs li:not(:first-child) a::before {
    content: "/";
    position: relative;
    left: -3px;
    pointer-events: none;
    color:#DEDEDE;
}

.title {
    font-weight: 700;
    font-size: 79px;
    line-height: 93px;
    margin-top: 10px;
    margin-bottom: 19px;
}

.description {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.59;
    max-width: 320px;
    margin: 0 auto;
}

.banner-box {
    padding: 100px;
    margin-bottom: 80px;
    background-image: url(../images/banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.banner-title {
    color:#ffffff;
    font-weight: 900;
    font-size: 60px;
    line-height: 83px;
    margin-top: 0px;
    margin-bottom: 6px;
}

.banner-title span {
    display: block;
    width: 95px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    background-color: #F37335;
    border-radius: 14px;
}

.banner-text {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    max-width: 315px;
    margin-top: 0;
    margin-bottom: 15px;
}

.banner-link {
    display: block;
    color: #1E2F40;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 0 18px;
    width: 168px;
    background-color: #FBB731;
    border: 1px solid #FBB731;
    border-radius: 5px;
    transition: 0.3s;
}

.banner-link:hover {
    background-color: transparent;
    color: #FBB731;
}

.menu {
    padding-top: 20px;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-title, 
.additionaly-title {
    color: #1B2A49;
    font-size: 44px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    margin: 0;
}

.menu-select {
    color:#443737;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    padding: 9px 30px;
    border-radius: 22px;
    border-color: #DEDEDE;
    appearance: none;
    flex-basis: 279px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: 89.5% center;
    background-size: 13px 9px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 50px;
    margin-top: 34px;
    margin-bottom: 34px;
}

.menu-grid-item {
    text-align: center;
}

.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
    margin-bottom: 21px;
}

.menu-grid-cover img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.grid-menu-title {
    color: #1B2A49;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    margin: 0;
    margin-bottom: 5px;
}

.grid-menu-price {
    color: #979797;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 19px;
}

.menu-grid-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 152px;
    padding: 10px 0;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    background-color: #FBB731;
    cursor: pointer;
    transition: 0.3s;
}

.menu-grid-btn:hover {
    background-color: #F37335;
}

.menu-grid-icon {
    display: block;
    width: 18px;
    height: 18px;
    background-image: url(../images/cart.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    left: -6px;
}

.menu-grid-text {
    color: #1E2F40;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px; 
    text-transform: uppercase;
}

.additionaly-title {
    margin-top: 100px;
}

.button-up {
    color: #1E2F40;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #FBB731;
    text-decoration: none;
    padding: 6px 20px 5px;
    border-radius: 5px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: 0.9s;
}

.button-up:hover {
    background-color: #F37335;
}

.button-up.hidden {
    opacity: 0;
}

.button-up.visible {
    opacity: 1;
}

/* style INDEX */
.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.content {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 169px;
}

.content-title {
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 140px;
    margin-top: 0;
    margin-bottom: 33px;
}

.content-title span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    display: block;
    margin-bottom: 12px;
}

.content-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 48px;
    margin-top: 0;
}

.content-link,
.promo-link {
    color: #1E2F40;
    background-color: #FBB731;
    border: 1px solid #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 47px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    transition: 0.3s;
}

.content-link:hover, 
.promo-link:hover {
   color: #FBB731;
   background-color: transparent;
}

.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.visual-bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}

.visual img {
    width: 829px;
    position: absolute;
    right: -168px;
}

.promo {
    padding-top: 186px;
    padding-bottom: 44px;
}

.promo-left,
.promo-right {
    flex-basis: 49.2%;
    color: #fff;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promo-left {
    background-image: url(../images/promo-left.png);
    padding: 116px 50px 115px;
}

.promo-right {
    background-image: url(../images/promo-right.png);
    padding: 102px 50px 101px;
}

.promo-sale {
    font-size: 14px;
    font-weight: 900;
    background: #F37335;
    padding: 6px 21px;
    border-radius: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 7px;
    margin-top: 0;
}

.promo-cost {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 11px;
    margin-top: 0;
}

.promo-description {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
    margin-top: 0;
}

.promo-left .promo-description {
    max-width: 392px;
}

.promo-right .promo-description {
    max-width: 310px;
    margin-bottom: 20px;
}

.promo-free {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 12px;
    margin-top: 3px;
}
/* END style INDEX*/

.footer {
    background: #1E2F40;
}

.footer-box {
    padding: 117px 0 90px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    color: #FFFFFF;
    margin-top: 140px;
}

.footer-logo {
    display: block;
    width: 63px;
    height: 56px;
    background-image: url(../images/footer-logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.footer-title {
    font-weight: 800;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 0 12px;
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-list li {
    color: #DEDEDE;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 8px;
}

.footer-item + .footer-item li:last-child {
    margin-top: 10px;
    line-height: 26px;
}

.footer-list span {
    display: block;
    color: #FAF9F9;
    font-weight: 700;
}

.footer-list a {
    color: #DEDEDE;
    text-decoration: none;
    transition: 0.3s;
}

.footer-list a:hover {
    color:#FBB731;
}

.footer-list-tel {
    font-weight: 800;
    font-size: 20px;
    line-height: 31px;
    text-transform: uppercase;
    padding-left: 0;
    list-style: none;
    margin: 0;
}

.footer-list-tel li {
    margin-bottom: 7px;
}

.footer-list-tel a {
    text-decoration: none;
    color:#FBB731;
    transition: 0.3s;
}

.footer-list-tel a:hover {
    color: #FFFFFF;
}
